services:
  gogpt-spa:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: gogpt-spa-dev
    restart: unless-stopped
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:
